

<h1>Activities Details Page</h1>
<h6><%=  @user_data["user"]["avatar150"] %></h6>

<p>
  <%=  @user_data["user"]["fullName"] %>
  <%=  @user_data["user"]["dateOfBirth"] %>
  <%=  @user_data["user"]["age"] %>
<%=  @user_data["user"]["height"] %>
<%=  @user_data["user"]["weight"] %>
<%=  @user_data["user"]["memberSince"] %>
</p>
