<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab');
    </style>

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if current_user %>
    Signed in as <strong><%= current_user.uid %></strong>!
    <%= link_to "Sign out", signout_path %>
    <% else %>
    <a href="/auth/fitbit">Sign In</a>
    <% end %>

    <%= yield %>

  </body>
</html>
