<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab');
    </style>

    <title><%= content_for?(:title) ? yield(:title) : "FIT LIFE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
          <% if current_user %>
        <li>
          <%= link_to "HOME", root_path %>
        </li>
        <li>
          <%= link_to "FIT ACTIVITY", fitbitdatum_index_path %>
        </li>
        <li>
          <%= link_to "FIT FRIENDS", new_fitbitdatum_path %>
        </li>
        <li>
          <%= link_to "FIT CHARTS", charts_path %>
        </li>
        <% else %>
        <li>
          <%= link_to "HOME", root_path %>
        </li>
        <li>
          <%= link_to "FIT ACTIVITY", fitbitdatum_index_path %>
        </li>
        <% end %>
      </ul>
    </nav>
    <div class="row">
      <div class="small-12 small-centered columns">
        <body>
          <%= yield %>
          <% if current_user %>
              Signed in as <strong><%= current_user.full_name %></strong>!
            <%= link_to "Sign out", signout_path %>
          <% else %>
          <a href="/auth/fitbit" class="button round">SIGN IN</a>
          <% end %>
        </div>
    </div>
  </body>
</html>
